* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  direction: rtl;
}

:root {
  @include theme;
}

.app body {
  background-color: $s-neutral-bg;
  color: $s-neutral-text;

  &[data-theme="light"] {
    @include light-theme;
    color-scheme: light;
  }
  &[data-theme="dark"] {
    @include dark-theme;
    color-scheme: dark;
  }
}
