* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  @include theme;
}

.app body[data-theme="light"] {
  @include light-theme;
  color-scheme: light;
}

.app body[data-theme="dark"] {
  @include dark-theme;
  color-scheme: dark;
}
