.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;

  background: $s-neutral-bg;
  height: $navbar-height;
  width: 100%;

  padding: 0.5rem $content-padding-inline;

  box-shadow: 0px 0px 30px 0px rgba(var(--s-neutral-700), 0.1);

  &__item {
    padding: 12px;

    border-radius: 16px;
    aspect-ratio: 1;

    @include flex;

    &:hover,
    &[aria-current="page"] {
      background: $s-neutral-300;
    }

    &:active {
      scale: 0.9;
    }

    svg {
      width: 21px;
      height: 21px;
      color: $s-neutral-text;
    }
  }
}
